{
    "extends": 
    [
        "@react-native-community"
    ],
    "rules": 
    {
        "quotes": [2, "double", { "avoidEscape": true }],
        "semi": ["error", "never"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}